.videoplayer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.prevbutton {
  height: 50px;
  width: 75px;
  margin-top: 15px;
  float: left;
  margin-left: 15vh;
}

.nextbutton {
  height: 50px;
  width: 75px;
  margin-top: 15px;
  float: right;
  margin-right: 15vh;
}
