.app-wrapper{
position: fixed;
top: 0;
left: 0;
min-width: 100%;
min-height: 100%;
}

.footer {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  background-color: darkblue;
  margin: auto;
  width: 100%;
  padding: 15px;
  color: white;
}

.links{
  text-decoration: none;
  color: white;
  font-size: 2em;
  float: left;
}
